<div class="recipe">
    <form>
        <span><button class="btn">Save</button></span>
        <span><button class="btn alt">Cancel</button></span>
        <div class="input">
            <label for="name">Title</label>
            <input type="text" id="name">
        </div>
        <div class="input">
            <label for="image-url">Image Url</label>
            <input type="text" id="image-url">
        </div>
        <div class="img">
            <img [src]="imageUrl.value">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <textarea type="text" id="content" rows="6"></textarea>
        </div>
       <div class="list">
           <ul>
                <li **ngFor="#item of ...; #i = index">
                    <input type="text" class="item-name">
                    <input type="text" class="item-amount">
                    <a class="danger" (click)="onRemoveItem(i)">X</a>
                </li>
           </ul>
       </div>
    </form>
</div>